.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgba(#FFFFFF, .16);

  // .header__inner

  &__inner {
    display: flex;
    align-items: center;
    padding: 15px 0;
  }

  // .header__phone

  &__phone {
    font-size: 18px;
    line-height: 22px;
  }
}


.logo {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  margin-right: 34px;
  color: $accent;
}

.menu {
  padding: 24px 0 26px 35px;
  margin-right: auto;

  // .menu__list

  &__list {
    display: flex;
    align-items: center;
  }

  // .menu__item

  &__item {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    padding: 6px 14px;
    transition: all .2s;

    &:hover {
      color: #FFFFFF;
      background-color: $accent;
    }
  }

  &__item + &__item {
    margin-left: 12px;
  }
}
.user {
  display: flex;
  align-items: center;
  margin-right: 32px;

  // .user__link

  &__link {
    display: flex;
    align-items: center;

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__link + &__link {
    margin-left: 8px;
  }

  // .user__num

  &__num {
    font-size: 15px;
    line-height: 18px;
  }
}
