.slick-list {
  overflow-y: visible;
  z-index: 10;
}

.slick-btn {
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.slick-btn.slick-disabled {
  circle {
    fill: #F6F3EE;
  }
}

.slick-dots {
  position: absolute;
  z-index: 1;
  left: 15px;
  right: 15px;
  bottom: -20px;
  display: flex;

  li {
    display: inline-block;
    width: 100%;
    height: 3px;
    margin: 0;
    background-color: #f3f3f3;
  }
}
.slick-dots button {
  display: block;
  padding: 0;
  margin: 0;
  border:none;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  width: 100%;
  height: 100%;
  border-radius: 1px; 
}
.slick-dots li.slick-active button {
  background-color: $accent;
}