.menu-btn {
  position: absolute;
  top: 50%;
  left: 1px;
  display: none;
  width: 60px;
  height: 50px;
  transform: translate(0%, -50%);
  background-color: $accent;
  cursor: pointer;

  & div {
    width: 40px;
    height: 3px;
    background-color: #fff;
    transition: all .5s;
  }
  div + div {
    margin-top: 5px;
  }
}

  .menu-btn.active {
  div:nth-child(2) {
    opacity: 0;
  }
  div:nth-child(1) {
    transform: translateY(5px) rotate(135deg);
  }
  div:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
  }
}